<nav class="navbar navbar-expand-lg navbar-light" role="navigation">
  <a class="navbar-brand" href="/">walshification</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mr-5">
        <a class="nav-link" href="/">About Me</a>
      </li>
      <!-- <li class="nav-item mr-5">
        <a class="nav-link" href="/resume">Resume</a>
      </li> -->
      <li class="nav-item mr-5">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li> -->
    </ul>
  </div>
</nav>
