<!-- <div class="well text-center">
   <p class="lead">
     Click the button to subscribe!
   </p>
   <button class="btn btn-primary btn-lg">Subscribe</button>
</div> -->
<div class="panel panel-default">
	<div class="panel-body">
		<a href="https://twitter.com/walshification" class="button">Follow me on Twitter</a>
	</div>
</div>
<div class="panel panel-default"> 
	<div class="panel-heading"> 
		<h2 class="panel-title">Recent Posts</h2> 
	</div>
	<div class="panel-body"> 
		{% for post in site.posts limit: 5 %}
			<a href="{{ post.url }}">{{ post.title }}</a><br>
		{% endfor %}
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Resources</h2>
	</div>
	<div class="panel-body">
		<p>Future resources</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Categories</h2>
	</div>
	<div class="panel-body">
		{% for category in site.categories %}
			<a href="/category/{{ category | first | slugize }}">
				{{ category | first }}
			</a>
			<br>
		{% endfor %}
	</div>
</div>